<div class="container margin-navbar-top">
  <div class="row">
      <div class="col-md-8 col-md-offset-2">
       

                        <div class="pull-right"><%= link_to 'New article', new_article_path, class: "btn btn-info" %></div>
                 

        <br>  <br>
              <% @articles.each do |article| %>

                <div class="[ panel panel-default ] panel-sd">
             
                    <div class="panel-sd-tags ">
                      <span class="panel-tag-bkg tag-bkg-primary">#DEV</span>
                    </div>
                    
                    <div class="panel-heading">
       
                        <h2><%= link_to article.title , article %></h2>
                       
                    </div>
                    <div class="panel-body">
                        <p class="lead"> <%= 
                        
                            truncate_html(article.body, length: 400 )
                              %> 
                        </p>
                    </div>
                    <div class="panel-footer ">
                       <%= link_to '< Read >', article, class: "btn  btn-primary" %>
                   
                        <%= link_to 'Edit', edit_article_path(article) , class: "btn btn-warning"%>
                   

                    
                        <%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete, class: "btn btn-danger" %>
                    
                    </div>
                
                </div>
       

              <% end %>
           

          <br>

         


      </div>
  </div>
</div>

