<div class="container margin-navbar-top">
	<div class="row">
   <div class="col-md-8 col-md-offset-1 panel panel-default post-container" >

    <h2 class="text-blue post-title">
      <%= @article.title %> 
    </h2>
    <time class="post-date"><%= @article.created_at.strftime("%d/%m/%Y") %></time> 

    <div class="post-header-line">
    
        <span class="glyphicon glyphicon-tag"></span>&nbsp;
           <% @article.tags.each do |tag| %>  
        <span class="label label-info" style="margin-left:5px">
            <%= tag.name %>
          </span>
       <% end %>

    </div>

    <div class="post-content text-justify">
      <% if @article.image? %>
      <div class="post-image">
        <%= image_tag @article.image.url , class: 'img-thumbnail img-responsive' %>
      </div>
      <% end %>

      <%= raw coderay @article.body %>
    </div>

  <% if @article.user.image? %>
    <div class="pull-right text-center">
     <%= image_tag @article.user.image.url(:profile) , class: 'img-circle' %>
     <span class="post-author label label-danger"><%= @article.user.full_name %></span>
   </div>
   <% end %>

   <div style="clear:both">
     <%= link_to 'Back', articles_path, class: "btn btn-default" %>       

     <% if policy(@article).update? %>
     <%= link_to 'Edit', edit_article_path(@article) , class: "btn btn-warning"%>

     <%= link_to 'Destroy', @article, :confirm => 'Are you sure?', :method => :delete, class: "btn btn-danger" %>
     <% end %>

   </div>
   

 </div>

 <div class="col-md-3">
  <%= render 'sidebar' %>
</div>

</div>
</div>

