<div class="container margin-navbar-top">
	<div class="row">
   <div class="col-md-8 col-md-offset-1 panel panel-default post-container" >


    <h2 class="text-blue">
      <%= @article.title %>
    </h2>

    <div class="post-header-line">

      <span class="glyphicon glyphicon-calendar"></span>&nbsp;

      <%= @article.created_at.strftime("%d/%m/%Y") %>

    </div>

    <div class="post-content text-justify">
       <%= raw coderay @article.body %>
    </div>


    <%= link_to 'Back', articles_path, class: "btn btn-default" %>       
 
    <% if policy(@article).update? %>
      <%= link_to 'Edit', edit_article_path(@article) , class: "btn btn-warning"%>
 
      <%= link_to 'Destroy', @article, :confirm => 'Are you sure?', :method => :delete, class: "btn btn-danger" %>
    <% end %>

  </div>

  <div class="col-md-3">
    <%= render 'sidebar' %>
  </div>

</div>
</div>

