

<div class="container">
  <div class="row">


    <div class="col-md-10 col-md-offset-1">
      
      <div class="bg-light">
          <h1><%= @course.title %></h1>
      <p class="lead">
       <%= @course.description %>
     </p> 
      </div>
    
<% if can? :create, @lesson  %>
<div class="pull-right"><%= link_to 'New Lesson', new_course_lesson_path, class: "btn btn-info" %></div>
 <% end %>     

        <table class="table table-striped invoice-table">
            <thead>
                <h3>Table of Contents</h3>
            </thead>
            <tbody>
              <% @lessons.each do |lesson| %>
                <tr>
                    <td><%= lesson.order %></td>
                    <td><%= lesson.title %></td>
                    <td class="hidden-sm"><%= lesson.description %></td>
                    <td><%= link_to '', [lesson.course, lesson], class: "fa fa-play btn btn-primary" %></td>
                
                    <% if can? :update, @lesson %>
                      <td><%= link_to 'Edit', edit_course_lesson_path(lesson.course, lesson) , class: "btn btn-xs btn-warning"%></td>
                    <% end %>
                    
                    <% if can? :delete, @lesson %>
                      <!-- /posts/:post_id/comments/:id -->
                      <td><%= link_to 'Destroy', [lesson.course, lesson], :confirm => 'Are you sure?', :method => :delete, class: "btn btn-xs btn-danger" %></td>
                     <% end %>
                </tr>
               <% end %>

              
            </tbody>
        </table>
    </div>
  
      
      

    </div>  
  </div>
</div>



