

<div class="container margin-navbar-top">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      
    <a href="<%= courses_path(:level => @course.level.id)%>" class="btn btn-info" style="margin-bottom:20px">Back to courses </a>


      <div class="panel panel-default panel-default panel-sd">
        <div class="panel-body ">
          <div class="pull-right">
            <% if policy(@course).update? %>
            <%= link_to 'New Lesson', new_course_lesson_path, class: "btn btn-xs btn-info" %>
            <%= link_to 'Edit', edit_course_path(@course) , class: "btn btn-warning btn-xs"%>

            <%= link_to 'Destroy', @course, :confirm => 'Are you sure?', :method => :delete, class: "btn btn-danger btn-xs" %>
            <% end %>
          </div>

          <h2 class="text-blue"><%= @course.title %></h2>
          <span class="pull-right text-red">Updated:&nbsp;<%= @course.updated_at.strftime("%d/%m/%Y") %></span>
        </div>                   
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-md-10 col-md-offset-1">

      <div class="panel panel-default panel-default panel-sd panel-course-detail">
        <div class="panel-body ">
           <div class="lesson-note">
          <h3 class="text-info"> 
            <span class='label label-sd'>#0</span>&nbsp;Introduction
          </h3>
        </div>

         <div class="lesson-content">
          <div class="text-center" style="background-color:black; width:100%;padding:20px;">
            <div class="embed-responsive">

             <iframe src="//player.vimeo.com/video/<%= @course.video_id %>" width="854" height="480px" frameborder="0" class="embed-responsive-item"></iframe>
           </div>
         </div>



      </div>

    </div>
  </div>


</div>
</div>


<div class="row">
  <div class="col-md-10 col-md-offset-1">


    <ul class="nav nav-tabs" role="tablist">
      <li class="active">
        <a href="#lessons" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Lessons</h4></a>
      </li>

      <li><a href="#notes" role="tab" data-toggle="tab"><h4 class="text-capitalize">Notes</h4></a></li>
    </ul> 

    <div class="tab-content course-content">
   
      <div class="tab-pane active" id="lessons">                
       <%= render 'courses/lessons', :lessons => @course.lessons %>

      </div>

      <div class="tab-pane" id="notes">
       <h3 class="fa fa-file-text-o sd-green-color"> Notes:</h3>
        
        <div class="course-introduction">
           <% if not @course.introduction.blank? %>
           <%= raw coderay @course.introduction %>
           <% end %>
         </div>
      </div>
    </div>

</div>
</div>

</div>



