

<div class="container margin-navbar-top">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default panel-default panel-sd">
        <div class="panel-body ">
          <div class="pull-right">
            <% if policy(@course).update? %>
            <%= link_to 'New Lesson', new_course_lesson_path, class: "btn btn-xs btn-info" %>
            <%= link_to 'Edit', edit_course_path(@course) , class: "btn btn-warning btn-xs"%>

            <%= link_to 'Destroy', @course, :confirm => 'Are you sure?', :method => :delete, class: "btn btn-danger btn-xs" %>
            <% end %>
          </div>
          <h2 class="text-blue"><%= @course.title %></h2>

        </div>

      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-md-3">
      <div class="panel panel-default panel-default panel-sd panel-course-detail">
        <div class="panel-body lessons-menu bhoechie-tab-menu ">

          <div class="list-group">
         
              <a href="<%= course_lessons_path(@course) %>" class="list-group-item active">
                <span class='label label-sd'>#0</span> 
                Introduction
              </a>

            <% @course.lessons.each do |lesson| %>

  <% if policy(lesson).move_up? %>
     <%= link_to "up", move_up_course_lesson_path(lesson.course, lesson), method: :put, class: 'btn btn-xs btn-info' %>
    <% end %>

     <% if policy(lesson).move_down? %>
                  <%= link_to "down", move_down_course_lesson_path(lesson.course, lesson), method: :put, class: 'btn btn-xs btn-info' %>
      <% end %>
           
       <a href="<%= course_lesson_path(lesson.course, lesson) %>" class="list-group-item">
                <span class='label label-sd'>#<%= lesson.position %></span> 
                <%= lesson.title %>
              </a>


            <% end -%>



          </div>
        </div>

      </div>
    </div>

    <div class="col-md-9">

      <div class="panel panel-default panel-default panel-sd ">
        <div class="panel-body ">
          <div class="lesson-content">


            <h3 class="fa fa-info-circle sd-green-color">&nbsp;Introduction:</h3>

            <div class="course-introduction">
               <% if not @course.introduction.blank? %>
              <%= raw coderay @course.introduction %>
              <% end %>
            </div>

          </div>


        </div>
      </div>


    </div>
  </div>

</div>

