
<div class="container margin-navbar-top">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default panel-default panel-sd">
        <div class="panel-body ">
          <div class="pull-right">
            <% if policy(@lesson.course).update? %>
            <%= link_to 'New Lesson', new_course_lesson_path, class: "btn btn-xs btn-info" %>
            <%= link_to 'Edit', edit_course_path(@lesson.course) , class: "btn btn-warning btn-xs"%>

            <%= link_to 'Destroy', @lesson.course, :confirm => 'Are you sure?', :method => :delete, class: "btn btn-danger btn-xs" %>
            <% end %>
          </div>
          <h2 class="text-blue"><%= @lesson.course.title %></h2>

        </div>                   
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-md-3">
      <div class="panel panel-default panel-default panel-sd panel-course-detail">
        <div class="panel-body lessons-menu bhoechie-tab-menu ">

          <div class="list-group">
              <a href="<%= course_lessons_path(@course) %>" class="list-group-item">
                <span class='label label-sd'>#0</span> 
                Introduction
              </a>

            <% @lesson.course.lessons.each do |lesson| %>
    
  <% if policy(@lesson).move_up? %>
     <%= link_to "up", move_up_course_lesson_path(lesson.course, lesson), method: :put, class: 'btn btn-xs btn-info' %>
    <% end %>

     <% if policy(@lesson).move_down? %>
                  <%= link_to "down", move_down_course_lesson_path(lesson.course, lesson), method: :put, class: 'btn btn-xs btn-info' %>
      <% end %>
              <% if lesson.id == @lesson.id %>
              
              <a href="<%= course_lesson_path(lesson.course, lesson) %>" class="list-group-item active">
                <span class='label label-sd'>#<%= lesson.position %></span> 
                <%= lesson.title %>
              </a>

              <% else %>

               <a href="<%= course_lesson_path(lesson.course, lesson) %>" class="list-group-item">
                <span class='label label-sd'>#<%= lesson.position %></span> 
                <%= lesson.title %>
              </a>

              <% end %>

         

            <% end %>



          </div>
        </div>

      </div>
    </div>

    <div class="col-md-9">

      <div class="panel panel-default panel-default panel-sd panel-course-detail">
        <div class="panel-body ">
         <div class="lesson-content">
          <div class="text-center" style="background-color:black; width:100%;padding:20px;">
            <div class="embed-responsive">

             <iframe src="//player.vimeo.com/video/<%= @lesson.video_id %>" width="720" height="400px" frameborder="0" ></iframe>
           </div>
         </div>


         <div class="pull-right">
           <% if policy(@lesson).create? %>
           <%= link_to 'New Lesson', new_course_lesson_path, class: "btn btn-xs btn-info" %>

           <%= link_to 'Edit', edit_course_lesson_path(@lesson.course, @lesson) , class: "btn btn-xs btn-warning"%>


           <%= link_to 'Destroy', [@lesson.course, @lesson], :confirm => 'Are you sure?', :method => :delete, class: "btn btn-xs btn-danger" %>
           <% end %>
         </div>


         <div class="lesson-note">
          <% if @lesson.note && @lesson.note != "" %>

          <h3 class="fa fa-file-text-o sd-green-color"> Notes:</h3>
          <%= raw coderay @lesson.note %>

          <% else %>

          <h3 class="fa fa-file-text-o sd-green-color"> Notes:</h3>
          <p class="lead"> Coming Soon...</p>
        </div>



        <% end %>

      </div>

    </div>
  </div>


</div>
</div>

</div>
