
<div class="container margin-navbar-top">
  <div class="row">

    <div class="panel panel-default panel-default panel-sd panel-course-detail">
             
                
                    
                    <div class="panel-heading text-center" style="">
                     
                        <h2 class="text-blue"><%= @lesson.course.title %></h2>
             
      
                     <% if can? :create, @lesson  %>
                  <%= link_to 'New Lesson', new_course_lesson_path, class: "btn btn-xs btn-info" %>
                 <% end %>           
                
                    <% if can? :update, @lesson %>
                      <%= link_to 'Edit', edit_course_lesson_path(@lesson.course, @lesson) , class: "btn btn-xs btn-warning"%>
                    <% end %>
                    
                    <% if can? :delete, @lesson %>
                      <!-- /posts/:post_id/comments/:id -->
                      <%= link_to 'Destroy', [@lesson.course, @lesson], :confirm => 'Are you sure?', :method => :delete, class: "btn btn-xs btn-danger" %>
                     <% end %>
                  

                    </div>
                    <div class="panel-body">
                       

                        <div class="col-md-3 lessons-menu bhoechie-tab-menu">
                        
                      
                              <div class="list-group">

    <%= link_to '00 - A propos du cours' , course_lessons_path(@course), class: "list-group-item" %>

                          <% @lesson.course.lessons.each do |lesson| %>
                        
                               <% if lesson.id == @lesson.id %>

                                <%= link_to lesson.description , [lesson.course, lesson], class: "list-group-item active" %>
                            
                            <% else %>
                                
                                <%= link_to lesson.description , [lesson.course, lesson], class: "list-group-item" %>

                             <% end -%>

                          <% end -%>

                              
                             
                            </div>

                        </div>

                        <div class="col-md-9 lesson-content">
                            <div class="text-center" style="background-color:black; width:100%;padding:20px;">
                              <div class="embed-responsive">

                               <iframe src="//player.vimeo.com/video/<%= @lesson.video_id %>" width="720" height="400px" frameborder="0" ></iframe>
                           </div>
                            </div>

                   <div class="lesson-note">
                      <% if @lesson.note != "" %>

                        <h3 class="fa fa-file-text-o sd-green-color"> Notes:</h3>
                         <%= raw coderay @lesson.note %>

                      <% else %>
                  
                         <h3 class="fa fa-file-text-o sd-green-color"> Notes:</h3>
                      <p class="lead"> Cooming Soon...</p>
                    </div>
                      
                     

                    <% end %>

                        </div>

                    </div>
                
      </div>

  </div>
</div>
