<div class="container margin-navbar-top lesson">
  <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
            
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2 bhoechie-tab-menu">
              <div class="list-group">
                <a href="#" class="list-group-item active text-center">
                  <h4 class="fa fa-youtube-play"></h4><br/>Course
                </a>
                <a href="#" class="list-group-item text-center">
                  <h4 class="fa fa-file-text-o"></h4><br/>Notes
                </a>
                <a href="#" class="list-group-item text-center">
                  <h4 class="fa fa-code"></h4><br/>Sources
                </a>
             
           
              </div>
            </div>

            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-10 bhoechie-tab">
                <!-- flight section -->
                <div class="bhoechie-tab-content active">
              
                   
                    <div class="pull-right" >
                      <%= link_to '', course_lessons_path(@lesson.course), class: "fa fa-backward btn btn-default " %>
                      <%= link_to '', course_lessons_path(@lesson.course), class: " fa fa-forward btn btn-primary " %>
                    </div>
                     <h1>#<%= @lesson.order %>&nbsp;-&nbsp;<%= @lesson.title %></h1>
         

                    <center>
                     <div class="embed-responsive">
                       <iframe src="//player.vimeo.com/video/<%= @lesson.video_id %>" width="100%" height="500px" ></iframe>
                   </div>
                    </center>
                </div>

          
                <div class="bhoechie-tab-content">
                  
                    <div class="pull-right" >
                      <%= link_to '', course_lessons_path(@lesson.course), class: "fa fa-backward btn btn-default " %>
                      <%= link_to '', course_lessons_path(@lesson.course), class: " fa fa-forward btn btn-primary " %>
                    </div>
                    
                    <h1>#<%= @lesson.order %>&nbsp;-&nbsp;<%= @lesson.title %></h1>
                    

                      <% if @lesson.note %>
                      
                     <%= raw coderay @lesson.note %>

                      <% else %>
                      <center>
                         <h1 class="fa fa-file-text-o sd-green-color font-size-12em"></h1>
                      <h2 class="sd-green-color">Cooming Soon</h2>
                      </center>
                      
                     

                    <% end %>
              </div>
    
               
                <div class="bhoechie-tab-content">
                     <div class="pull-right" >
                      <%= link_to '', course_lessons_path(@lesson.course), class: "fa fa-backward btn btn-default " %>
                      <%= link_to '', course_lessons_path(@lesson.course), class: " fa fa-forward btn btn-primary " %>
                    </div>
                  <h1>#<%= @lesson.order %>&nbsp;-&nbsp;<%= @lesson.title %></h1>
                    <center>
                      
                      <h1 class="fa fa-code sd-green-color font-size-12em"></h1>
                      <h2 class="sd-green-color">Cooming Soon</h2>
                     
                  
                </div>
                <div class="bhoechie-tab-content">
                  <h1>#<%= @lesson.order %>&nbsp;-&nbsp;<%= @lesson.title %></h1>
                    <center>
                      
                      <h1 class="fa fa-comments sd-green-color font-size-12em" ></h1>
                      <h2 class="sd-green-color">Cooming Soon</h2>
                   
                    </center>
                </div>
             
            </div>
        </div>
  </div>
</div>

<script type="text/javascript">
  
$(document).ready(function() {
    $("div.bhoechie-tab-menu>div.list-group>a").click(function(e) {
        e.preventDefault();
        $(this).siblings('a.active').removeClass("active");
        $(this).addClass("active");
        var index = $(this).index();
        $("div.bhoechie-tab>div.bhoechie-tab-content").removeClass("active");
        $("div.bhoechie-tab>div.bhoechie-tab-content").eq(index).addClass("active");
    });
});

</script>