<div class="container margin-navbar-top">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <% if policy(@levels).create? %>
      <div class="pull-right">
        <%= link_to 'New level', new_level_path, class: "btn btn-info" %>
      </div>
      <% end %>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1 class="text-center text-info">Programme</h1>
      <br>
      <p class="lead text-center text-justify">
       StartupDecode à pour but d’apprendre aux jeunes entrepreneurs comment coder un Minimum Viable Product sans se perdre dans la théorie de l’informatique. 
       <br>
        La formation se compose de cinq niveaux pour passer de “newbie” à “ninja”. Durant chaque niveau nous allons coder une application web parmi les plus populaires du monde des startups comme par exemple AirBnB, Quora ou Kickstarter. 
        <br>
        Malgré le fait que tous les niveaux soit indépendants, il n’en démeure pas moins que chaque cours capitalise sur les acquis du précédent pour approfondir des connaissance et faire découvrir de nouvelles.
        </p>
      <br>
      <div class="timeline-centered">

        <% @levels.each do |level| %>

            <article class="timeline-entry">
              <div class="timeline-entry-inner">

                <div class="timeline-icon <%= level.code %>">
                  <%= level.position %> 
                </div>
                
              
                   <% if level.released %>
                      <% if  user_signed_in? %>
                        <a href="<%= courses_path(:level => level.position)%>" class="level-bloc">
                      <% else %>
                        <a href="<%= new_user_registration_path %>" class="level-bloc">
                      <% end %>
                   <% end %>
  
                <div class="timeline-label">

                   <% if level.released %>
                   <div class="released shape" style="margin-top:0px important">
                      <div class="shape-text">
                        Released               
                      </div>
                    </div>
                  <% else %>
                    <div class="upcoming shape" style="margin-top:0px important">
                      <div class="shape-text">
                        Upcoming               
                      </div>
                    </div>
                  <% end %>
                
                    <div style="padding-top:20px">
                         <h2 class="level-title"><%= level.name.upcase %> </h2>
                         
                         <div class="level-content">
                                 
                            <% if not level.image.blank? %>
                             <div class="pull-right">
                                <%= image_tag level.image.url(:thumb), class: 'level-image'  %>   
                             </div>
                            <% end %>
                                 
                            <p class="level-description">
                              <%= level.description %> 
                            </p>
                        </div>
                    </div>
               
               <% if level.released %> <span class="btn btn-xs btn-primary">Enroll now </span>  <% end %>
                           
              </div>

              <% if level.released %> </a>  <% end %>

            <% if policy(level).update? %>
                  <%= link_to 'Edit', edit_level_path(level) , class: "btn btn-xs btn-warning"%>
                  <%= link_to 'Destroy', level, :confirm => 'Are you sure?', :method => :delete, class: "btn btn-xs btn-danger" %>
                  <% end %>  

            </div>
          </article>
         
    
      <% end %>




      <article class="timeline-entry">

        <div class="timeline-entry-inner">

          <div class="timeline-icon bg-success" >
            <i class="fa fa-thumbs-up">&nbsp;</i> 
          </div>

        </div>

      </article>



    </div>

  </div>


</div>




</div>
</div>
</div>

