     <table class="table table-striped">
      <tr>
        <td><span class='label label-sd'>#0</span> </td>
        <td> 
          <a href="<%= course_lessons_path(@course) %>" class="list-group-ite">
            Introduction
          </a>
        </td>
      </tr>

      <% lessons.each do |lesson| %>
      <tr>
        <td>  <span class='label label-sd'>#<%= lesson.position %></span> </td>
        <td>

          <a href="<%= lesson_path(lesson) %>" class="">
            <%= lesson.title %>
          </a>

        </td> 

        <% if policy(lesson).move_up? %>
        <td><%= link_to "up", move_up_lesson_path( lesson), method: :put, class: 'btn btn-xs btn-info' %></td>
        <% end %>

        <% if policy(lesson).move_down? %>
          <td> 
          <%= link_to "down", move_down_lesson_path(lesson), method: :put, class: 'btn btn-xs btn-info' %>
          </td>
        <% end %>

      </tr>

      <% end %>
    </table>