<div class="container margin-navbar-top">
  <div class="row">
      <div class="col-md-8 col-md-offset-2">
       
                        <div class="pull-right"><%= link_to 'New course', new_course_path, class: "btn btn-info" %></div>
                          
        <h1 class="text-black">Let's startup</h1>

        <br>
              <% @courses.each do |course| %>

                <div class="panel panel-default panel-sd">
             
                    <div class="panel-sd-tags ">
                      <span class="alert panel-tag-bkg tag-bkg-primary">#DEV</span>
                    </div>
                    
                    <div class="panel-heading">
                     
                        <h2><%= link_to course.title, course_lessons_path(course) %></h2>
                       
                    </div>
                    <div class="panel-body">
                        <p class="lead"> <%= course.description %> </p>
                    </div>
                    <div class="panel-footer">
                       
                  
                    <%= link_to '< Start >', course, class: "btn btn-primary " %>
                   


                   
                        <%= link_to 'Edit', edit_course_path(course) , class: "btn btn-warning"%>
                  

                  
                        <%= link_to 'Destroy', course, :confirm => 'Are you sure?', :method => :delete, class: "btn btn-danger" %>
                   
                    </div>
                
                </div>
        

              <% end %>
           

          <br>

         


      </div>
  </div>
</div>


