<div class="container margin-navbar-top">
  <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <% if can? :create, @course  %>
                        <div class="pull-right"><%= link_to 'New course', new_course_path, class: "btn btn-info" %></div>
                         <% end %>    
        <h1 class="color-purple">Let's startup</h1>

        <br>
              <% @courses.each do |course| %>

              

               <div class="">
                <div class="[ panel panel-default ] panel-google-plus">
             
                    <div class="panel-google-plus-tags ">
                      <span class="alert order-bkg">#<%= course.order %></span>
                    </div>
                    
                    <div class="panel-heading">
                     
                      
                        <h2><%= course.title %></h2>
                       
                    </div>
                    <div class="panel-body">
                        <p class="lead"> <%= course.description %> </p>
                    </div>
                    <div class="panel-footer">
                       <%= link_to '< Start >', course_lessons_path(course), class: "btn btn-lg btn-primary " %>
                      <% if can? :update, @course %>
                        <%= link_to 'Edit', edit_course_path(course) , class: "btn btn-warning"%>
                      <% end %>

                      <% if can? :destroy, @course %>
                        <%= link_to 'Destroy', course, :confirm => 'Are you sure?', :method => :delete, class: "btn btn-danger" %>
                      <% end %>
                    </div>
                
                </div>
            </div>

              <% end %>
           

          <br>

         


      </div>
  </div>
</div>


