


<div class="container">
  <div class="row">
   <div class="col-md-10 col-md-offset-1 panel panel-default post-container" >

         
            <h1 class="text-blue"><%= @course.title %></h1>
            
            <div class="course-introduction">
              <% if not @course.introduction.blank? %>
              <%= raw coderay @course.introduction %>
              <% end %>
            </div>
        
     
        <%= link_to 'Back', courses_path, class: "btn btn-default" %> 
        <%= link_to "Enroll", new_user_registration_path, class: "btn btn-success" %>
      

    <% if policy(@course).update? %>
      <%= link_to 'Edit', edit_course_path(@course) , class: "btn btn-warning"%> 
      <%= link_to 'Destroy', @course, :confirm => 'Are you sure?', :method => :delete, class: "btn btn-danger" %>
    <% end %>

  </div>
</div>
</div>
