<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta name="keywords" content="<%= meta_keywords %>" /> 
  <meta name="description" content="<%= meta_description %>" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="author" content="Amine Sadry">

  <%= favicon_link_tag 'favicon.ico' %>
  <!-- for Facebook -->          
  <meta property="og:title" content="StartupDecode" />
  <meta property="og:type" content="Organisation" />
  <meta property="og:image" content="http://startupdecode.com/img/img01.jpg" />
  <meta property="og:url" content="http://startupdecode.com" />
  <meta property="og:description" content="StartupDecode - The easiest way to code an MVP for biz guys!" /> 

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/header" %>

<% if request.original_url.to_s.include? "courses" or request.original_url.to_s.include? "articles" or request.original_url.to_s.include? "terms" %>
  <div class="main-content margin-navbar-top">
<% else %>
  <div class="main-content">
<% end %>



	<%= yield %>
</div>


<%= render "layouts/footer" %>

</body>
</html>
